<div class="footer-widget">
    <div class="container">
        <div class="row footer-widget-wrapper pt-100 pb-70">
            <div class="col-md-6 col-lg-4">
                <div class="footer-widget-box about-us">
                    <a href="#" class="footer-logo">
                        <img src="assets/img/logo/logo.png" alt="">
                    </a>
                    <p class="mb-4">
                        Encontre de tudo em um só lugar!
                    </p>
                    <ul class="footer-contact">
                        <li><a href="tel:+558698130640235"><i class="far fa-phone"></i>(86) 80003-2486</a></li>
                        <li><i class="far fa-map-marker-alt"></i>Parnaíba - Piauí</li>
                        <li><a href="https://live.themewild.com/cdn-cgi/l/email-protection#71181f171e311409101c011d145f121e1c"><i class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="fb92959d94bb9e839a968b979ed5989496">contato@encontreaqui.com</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="footer-widget-box list">
                    <h4 class="footer-widget-title">Empresa</h4>
                    <ul class="footer-list">
                        <li><a href="sobre-nos.html"><i class="fas fa-angle-double-right"></i> Sobre nós</a></li>
                        <li><a href="contato.html"><i class="fas fa-angle-double-right"></i> Contato</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p class="copyright-text">
                                &copy; Copyright <span id="date"></span> <a href="#"> Encontre Aqui </a> Todos os direitos Reservados.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>