{% load static %}
<!DOCTYPE html>
<html lang="pt">

<!-- Projeto encontre aqui -->

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">

<title>Encontre Aqui</title>

<link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.png">

<link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "css/all-fontawesome.min.css" %}>
<link rel="stylesheet" href={% static "css/flaticon.css" %}>
<link rel="stylesheet" href={% static "css/animate.min.css" %}>
<link rel="stylesheet" href={% static "css/magnific-popup.min.css" %}>
<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
<link rel="stylesheet" href={% static "css/nice-select.min.css" %}>
<link rel="stylesheet" href={% static "css/jquery-ui.min.css" %}>
<link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body class="home-4">

<div class="preloader">
<div class="loader">
<div class="loader-dot"></div>
<div class="loader-dot dot2"></div>
<div class="loader-dot dot3"></div>
<div class="loader-dot dot4"></div>
<div class="loader-dot dot5"></div>
</div>
</div>



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio texto Cabeçario
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



{% include 'templates/menu.html' %}





<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim texto Cabeçario
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim  Buscador de pesquisa do site
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<main class="main">
{% include 'templates/search.html' %}


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim  Buscador de pesquisa do site
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio Categorias dos Produtos Carrosel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<div class="listing-area bg py-500">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="site-heading text-center mb-4 mt-4">
                    <span class="site-title-tagline">Resumo dos serviços perto de você<a name="Serviços"></a></span>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="listing-slider owl-carousel owl-theme">
            {% for servico in servicos %}
                {% include 'templates/servico_item.html' with servico=servico %}
            {% endfor %}
        </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Fim Categorias dos Produtos Carrosel
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </div>
</div>




<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio Categorias dos Serviços Carrosel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->







<div class="listing-area bg py-500">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="site-heading text-center mb-4 mt-4">
                    <span class="site-title-tagline">Resumo dos produtos perto de você<a name="Serviços"></a></span>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="listing-slider owl-carousel owl-theme">
            {% for produto in produtos %}
                {% include 'templates/servico_item.html' with servico=produto %}
            {% endfor %}
        </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Fim Categorias dos Produtos Carrosel
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </div>
</div>


<div class="process-area">
<div class="container">
<div class="row">
<div class="col-lg-7 mx-auto">
<div class="site-heading text-center">
<span class="site-title-tagline">Como funciona<a name="Como funciona"></a></span>
<h2 class="site-title">Encontre aqui</h2>
<p>Encontre os produtos e serviços mais perto de sua residência.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="process-item">
<div class="process-icon">
<i class="flaticon-touch"></i>
</div>
<div class="process-content">
 <h5>Encontre produtos e serviços da região</h5>

</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="process-item">
<div class="process-icon">
<i class="flaticon-vision"></i>
</div>
<div class="process-content">
<h5>Entre em contato pelo whatsapp</h5>

</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="process-item">
<div class="process-icon">
<i class="flaticon-position"></i>
</div>
<div class="process-content">
<h5>Encontre mais produtos e serviços perto de você</h5>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim Imgem APP Download
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio texto Rodapé
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



</main>

{% include 'templates/footer.html' %}


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim texto Rodapé
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<a href="#" id="scroll-top"><i class="far fa-angle-up"></i></a>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src={% static "js/jquery-3.6.0.min.js" %}></script>
<script src={% static "js/modernizr.min.js" %}></script>
<script src={% static "js/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "js/bootstrap.bundle.min.js" %}></script>
<script src={% static "js/jquery.magnific-popup.min.js" %}></script>
<script src={% static "js/isotope.pkgd.min.js" %}></script>
<script src={% static "js/jquery.appear.min.js" %}></script>
<script src={% static "js/jquery.easing.min.js" %}></script>
<script src={% static "js/owl.carousel.min.js" %}></script>
<script src={% static "js/counter-up.js" %}></script>
<script src={% static "js/masonry.pkgd.min.js" %}></script>
<script src={% static "js/jquery.nice-select.min.js" %}></script>
<script src={% static "js/jquery-ui.min.js" %}></script>
<script src={% static "js/wow.min.js" %}></script>
<script src={% static "js/main.js" %}></script>
</body>

<!-- Projeto encontre aqui -->

</html>