{% load static %}
<!DOCTYPE html>
<html lang="pt">

<!-- Projeto encontre aqui -->

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">

<title>Encontre Aqui</title>

<link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.png">

<link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "css/all-fontawesome.min.css" %}>
<link rel="stylesheet" href={% static "css/flaticon.css" %}>
<link rel="stylesheet" href={% static "css/animate.min.css" %}>
<link rel="stylesheet" href={% static "css/magnific-popup.min.css" %}>
<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
<link rel="stylesheet" href={% static "css/nice-select.min.css" %}>
<link rel="stylesheet" href={% static "css/jquery-ui.min.css" %}>
<link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body class="home-4">

<div class="preloader">
<div class="loader">
<div class="loader-dot"></div>
<div class="loader-dot dot2"></div>
<div class="loader-dot dot3"></div>
<div class="loader-dot dot4"></div>
<div class="loader-dot dot5"></div>
</div>
</div>



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio texto Cabeçario
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



<header class="header">
<div class="main-navigation">
<nav class="navbar navbar-expand-lg">
<div class="container custom-nav">
<a class="navbar-brand" href="index.html">
<img src={% static "assets/img/logo/logo.png" %} class="logo-display" alt="logo">
<img src={% static "assets/img/logo/logo-dark.png" %} class="logo-scrolled" alt="logo">
</a>
<div class="mobile-menu-right">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-btn-icon"><i class="far fa-bars"></i></span>
</button>
</div>
<div class="collapse navbar-collapse d-flex justify-content-center" id="main_nav">
<ul class="navbar-nav">
<li class="nav-item dropdown">
<li class="nav-item"><a class="nav-link" href="">Home</a></li>

<li class="nav-item"><a class="nav-link" href="#Produtos">Produtos</a></li>
<li class="nav-item dropdown">

<li class="nav-item"><a class="nav-link" href="#Serviços">Serviços</a></li>
<li class="nav-item dropdown">


<li class="nav-item"><a class="nav-link" href="#Categoria">Categorias</a></li>
<li class="nav-item dropdown">

<li class="nav-item"><a class="nav-link" href="#Como funciona">Como funciona</a></li>
<li class="nav-item dropdown">



</div>
</div>
</nav>
</div>
</header>





<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim texto Cabeçario
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim  Buscador de pesquisa do site
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<main class="main">
<div class="search-area">
<div class="container">
<div class="search-wrapper">
<h4>Encontre Produtos e Serviços perto de você</h4> 
<div class="search-form">
<form action="#">
<div class="row align-items-center">
<div class="col-lg-7">
<div class="form-group">
<div class="form-group-icon">
<input type="text" class="form-control" placeholder="Que tal uma busca rapida?">
<i class="far fa-search"></i>
</div>
</div>
</div>
<div class="col-lg-3">
<div class="form-group">
<div class="form-group-icon">
<select class="select">
<option value="">Parnaíba</option>
<option value="2">Luis Correia</option>
<option value="3">Outros</option>
</select>
<i class="far fa-location-dot"></i>
</div>
</div>
</div>
<div class="col-lg-2">
<button type="submit" class="theme-btn"><span class="far fa-search"></span>Pesquisa</button>
</div>
</div>
</form>
</div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim  Buscador de pesquisa do site
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio Categorias dos Produtos Carrosel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<div class="listing-area bg py-500">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="site-heading text-center mb-4 mt-4">
                    <span class="site-title-tagline">Serviços perto de você<a name="Serviços"></a></span>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="listing-slider owl-carousel owl-theme">
            {% for servico in servicos %}
                {% include 'templates/servico_item.html' with servico=servico %}
            {% endfor %}
        </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Fim Categorias dos Produtos Carrosel
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </div>
</div>




<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio Categorias dos Serviços Carrosel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->







<div class="listing-area bg py-500">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 mx-auto">
    <div class="site-heading text-center mb-4 mt-4">
    <span class="site-title-tagline">Produtos perto de você</span>
    <p>
    </p>
    </div>
    </div>
    </div>
    <div class="listing-slider owl-carousel owl-theme">
        <div class="listing-item">
        <div class="listing-img">
        <img src="assets/img/listing/01.jpg" alt="">
        
        </div>
        <div class="listing-content">
        <div class="listing-top">
        <div class="listing-category">
        <div class="listing-category-icon">
        <i class="fal fa-utensils"></i>
        </div>
        <h6 class="listing-category-title"><a href="#">Restaurante</a></h6>
        </div>
        </div>
        <div class="listing-info">
        <h5><a href="#">Macarone ao Molho</a></h5>
        <p><i class="far fa-location-dot"></i> Parnaíba, Piauí</p>
        <div class="listing-more-info">
        <div class="listing-date"><i class="far fa-calendar-days"></i> postado 5 dias
            Atrás</div>
        </div>
        </div>
        <div class="listing-bottom">
        <div class="listing-author">
        <img src="assets/img/listing/author.jpg" alt="">
        <h6>Rebeca Lima</h6>
        </div>
        <a href="#" class="listing-text-btn">Ver detalhes<i class="fas fa-arrow-right"></i></a>
        </div>
        </div>
        </div>
        
        
        
        <div class="listing-item">
        <div class="listing-img">
        <img src="assets/img/listing/02.jpg" alt="">    
        </div>
        <div class="listing-content">
        <div class="listing-top">
        <div class="listing-category">
        <div class="listing-category-icon">
        <i class="fal fa-hotel"></i>
        </div>
        <h6 class="listing-category-title"><a href="#">Hotel</a></h6>
         </div>
        </div>
        <div class="listing-info">
        <h5><a href="#">Hotel Elite Vip</a></h5>
        <p><i class="far fa-location-dot"></i> Luis Correia, Piauí</p>
        <div class="listing-more-info">
        <div class="listing-date"><i class="far fa-calendar-days"></i> postado 2 dias
            Atrás</div>
        </div>
        </div>
        <div class="listing-bottom">
        <div class="listing-author">
        <img src="assets/img/listing/author.jpg" alt="">
        <h6>Rebeca Lima</h6>
        </div>
        <a href="#" class="listing-text-btn">Ver detalhes<i class="fas fa-arrow-right"></i></a>
        </div>
        </div>
        </div>
        
        
        
        
        
        <div class="listing-item">
        <div class="listing-img">
        <img src="assets/img/listing/03.jpg" alt="">
        </div>
        <div class="listing-content">
        <div class="listing-top">
        <div class="listing-category">
        <div class="listing-category-icon">
        <i class="fal fa-shopping-bag"></i>
        </div>
        <h6 class="listing-category-title"><a href="#">Shopping</a></h6>
        </div>
        </div>
        <div class="listing-info">
        <h5><a href="#">Loja Fenix</a></h5>
        <p><i class="far fa-location-dot"></i> São Luiz, Maranhão</p>
        <div class="listing-more-info">
        <div class="listing-date"><i class="far fa-calendar-days"></i> postado 3 dias
            Atrás</div>
        </div>
        </div>
        <div class="listing-bottom">
        <div class="listing-author">
        <img src="assets/img/listing/author.jpg" alt="">
        <h6>Rebeca Lima</h6>
        </div>
        <a href="#" class="listing-text-btn">Ver detalhes <i class="fas fa-arrow-right"></i></a>
        </div>
        </div>
        </div>
        
        
        
        
        
        <div class="listing-item">
        <div class="listing-img">
        <img src="assets/img/listing/04.jpg" alt="">
        </div>
        <div class="listing-content">
        <div class="listing-top">
        <div class="listing-category">
        <div class="listing-category-icon">
        <i class="fal fa-house-building"></i>
        </div>
        <h6 class="listing-category-title"><a href="#">Lotes</a></h6>
        </div>
        </div>
        <div class="listing-info">
        <h5><a href="#">RR3 Loteamento</a></h5>
        <p><i class="far fa-location-dot"></i> Parnaíba, Piauí</p>
        <div class="listing-more-info">
        <div class="listing-date"><i class="far fa-calendar-days"></i> postado 4 dias
            Atrás</div>
        </div>
        </div>
        <div class="listing-bottom">
        <div class="listing-author">
        <img src="assets/img/listing/author.jpg" alt="">
        <h6>Rebeca Lima</h6>
        </div>
        <a href="#" class="listing-text-btn">Ver detalhes <i class="fas fa-arrow-right"></i></a>
        </div>
        </div>
        </div>
        
        
        
        
        
        
        
        <div class="listing-item">
        <div class="listing-img">
        <img src="assets/img/listing/05.jpg" alt="">
        </div>
        <div class="listing-content">
        <div class="listing-top">
        <div class="listing-category">
        <div class="listing-category-icon">
        <i class="fal fa-utensils"></i>
        </div>
        <h6 class="listing-category-title"><a href="#">Eventos</a></h6>
        </div>
        </div>
        <div class="listing-info">
        <h5><a href="#">Marcol Club</a></h5>
        <p><i class="far fa-location-dot"></i> Esperantina, Piauí</p>
        <div class="listing-more-info">
        <div class="listing-date"><i class="far fa-calendar-days"></i> postado 7 dias
            Atrás</div>
        </div>
        </div>
         <div class="listing-bottom">
        <div class="listing-author">
        <img src="assets/img/listing/author.jpg" alt="">
        <h6>Rebeca Lima</h6>
        </div>
        <a href="#" class="listing-text-btn">Ver detalhes <i class="fas fa-arrow-right"></i></a>
        </div>
        </div>
        </div>
        
        
        
        
        
        
        
        
        <div class="listing-item">
        <div class="listing-img">
        <img src="assets/img/listing/06.jpg" alt="">
        </div>
        <div class="listing-content">
        <div class="listing-top">
        <div class="listing-category">
        <div class="listing-category-icon">
        <i class="fal fa-utensils"></i>
        </div>
        <h6 class="listing-category-title"><a href="#">Academia</a></h6>
        </div>
        </div>
        <div class="listing-info">
        <h5><a href="#">Fitness GForte</a></h5>
        <p><i class="far fa-location-dot"></i> Teresina, Piauí</p>
        <div class="listing-more-info">
        <div class="listing-date"><i class="far fa-calendar-days"></i> postado 8 dias
            Atrás</div>
        </div>
        </div>
        <div class="listing-bottom">
        <div class="listing-author">
        <img src="assets/img/listing/author.jpg" alt="">
        <h6>Rebeca Lima</h6>
        </div>
        <a href="#" class="listing-text-btn">Ver detalhes <i class="fas fa-arrow-right"></i></a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
            
    






<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio Imgem APP Download
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



<div class="process-area">
<div class="container">
<div class="row">
<div class="col-lg-7 mx-auto">
<div class="site-heading text-center">
<span class="site-title-tagline">Como funciona<a name="Como funciona"></a></span>
<h2 class="site-title">Encontre aqui</h2>
<p>Encontre os produtos e serviços mais perto de sua residência.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="process-item">
<div class="process-icon">
<i class="flaticon-touch"></i>
</div>
<div class="process-content">
 <h5>Encontre produtos e serviços da região</h5>

</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="process-item">
<div class="process-icon">
<i class="flaticon-vision"></i>
</div>
<div class="process-content">
<h5>Entre em contato pelo whatsapp</h5>

</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="process-item">
<div class="process-icon">
<i class="flaticon-position"></i>
</div>
<div class="process-content">
<h5>Encontre mais produtos e serviços perto de você</h5>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim Imgem APP Download
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inicio texto Rodapé
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



</main>

<footer class="footer-area">
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-md-12">
    <p class="copyright-text">
    &copy; Copyright <span id="date"></span> <a href="#"> Encontre Aqui </a> Todos os direitos Reservados.
</p>
</div>
</div>
</div>
</div>
</footer>


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fim texto Rodapé
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<a href="#" id="scroll-top"><i class="far fa-angle-up"></i></a>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src={% static "js/jquery-3.6.0.min.js" %}></script>
<script src={% static "js/modernizr.min.js" %}></script>
<script src={% static "js/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "js/bootstrap.bundle.min.js" %}></script>
<script src={% static "js/jquery.magnific-popup.min.js" %}></script>
<script src={% static "js/isotope.pkgd.min.js" %}></script>
<script src={% static "js/jquery.appear.min.js" %}></script>
<script src={% static "js/jquery.easing.min.js" %}></script>
<script src={% static "js/owl.carousel.min.js" %}></script>
<script src={% static "js/counter-up.js" %}></script>
<script src={% static "js/masonry.pkgd.min.js" %}></script>
<script src={% static "js/jquery.nice-select.min.js" %}></script>
<script src={% static "js/jquery-ui.min.js" %}></script>
<script src={% static "js/wow.min.js" %}></script>
<script src={% static "js/main.js" %}></script>
</body>

<!-- Projeto encontre aqui -->

</html>