<div
    class="pagination-area">
    <div aria-label="Page
        navigation example">
        <ul
            class="pagination">
            <li
                class="page-item">
                <a
                    class="page-link"
                    href="#"
                    aria-label="Previous">
                    <span
                        aria-hidden="true"><i
                            class="far
                            fa-angle-double-left"></i></span>
                </a>
            </li>
            <li
                class="page-item
                active"><a
                    class="page-link"
                    href="#">1</a></li>
            <li
                class="page-item"><a
                    class="page-link"
                    href="#">2</a></li>
            <li
                class="page-item">
                <a
                    class="page-link"
                    href="#"
                    aria-label="Next">
                    <span
                        aria-hidden="true"><i
                            class="far
                            fa-angle-double-right"></i></span>
                </a>
            </li>
        </ul>
    </div>
</div>